<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.www.imgmanage.page.mapper.PageMapper">

    <resultMap id="menuSelectMap" type="Menu">
        <result property="id"		column="menu_id"		jdbcType="VARCHAR"/>
        <result property="ptId"		column="menu_pt_id"		jdbcType="VARCHAR"/>
        <result property="type"		column="menu_type"		jdbcType="VARCHAR"/>
        <result property="text"		column="menu_text"		jdbcType="VARCHAR"/>
        <result property="url"		column="menu_url"		jdbcType="VARCHAR"/>
        <result property="icon"		column="menu_icon_url"		jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getMenu" resultMap="menuSelectMap">
        SELECT menu_id,
               menu_pt_id,
               menu_type,
               menu_text,
               menu_url,
               menu_icon_url
        FROM did_busantp.dt_op_menu

    </select>
</mapper>
